nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    margin: auto;
    padding: 12px;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #000;  /* Changed to a visible color */
}

nav ul li a:hover {
    color: #007bff;  /* Optional: Add a hover effect */
}

.card{
    padding: 0.0001rem;
}